@using PO2Sovellus.ViewModels
@using Sovellus.Model.Entities
@model PO2Sovellus.ViewModels.EtusivuViewModel

@{
    ViewBag.Title = "Maistuuko?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section footer {
    <div>Copyright &copy; Jarno Rostedt, @DateTime.Now.Year</div>
}

<h1>@ViewBag.Title</h1>

    @foreach (Ravintola r in Model.Ravintolat)
    {
        @Html.Partial("_Yhteenveto", r)
    }
    <div>
        <a asp-controller="Etusivu" asp.action="Uusi">Uusi ravintola</a>
    </div>